Data/
Input/
Output/
Plots/
__pycache__/
.DS_Store
Progress.pptx
WilliamLeach_VBA_code.txt
WilliamLeach_VBA_code.txt
186471629 - William Leach THEO3_TSE.pdf
positions/pos_0.pickle
positions/pos_1.pickle
positions/pos_2.pickle
positions/pos_3.pickle
positions/pos_4.pickle
positions/pos_5.pickle
positions/pos_6.pickle
positions/pos_7.pickle
positions/pos_8.pickle
positions/pos_9.pickle
positions/pos_10.pickle
positions/pos_11.pickle
positions/pos_12.pickle
positions/pos_13.pickle
positions/pos_14.pickle
positions/pos_15.pickle
positions/pos_16.pickle
positions/pos_17.pickle
positions/pos_18.pickle
positions/pos_19.pickle
positions/pos_20.pickle
positions/pos_21.pickle
positions/pos_22.pickle
positions/pos_23.pickle
positions/pos_24.pickle
positions/pos_25.pickle
positions/pos_26.pickle
positions/pos_27.pickle
positions/pos_28.pickle
positions/pos_29.pickle
positions/pos_30.pickle
positions/pos_31.pickle
positions/pos_32.pickle
positions/pos_33.pickle
positions/pos_34.pickle
positions/pos_35.pickle
positions/pos_36.pickle
positions/pos_37.pickle
positions/pos_38.pickle
positions/pos_39.pickle
positions/pos_40.pickle
positions/pos_41.pickle
positions/pos_42.pickle
positions/pos_43.pickle
positions/pos_44.pickle
positions/pos_45.pickle
positions/pos_46.pickle
positions/pos_47.pickle
positions/pos_48.pickle
positions/pos_49.pickle
positions/pos_50.pickle
positions/pos_51.pickle
positions/pos_52.pickle
positions/pos_53.pickle
positions/pos_54.pickle
positions/pos_55.pickle
positions/pos_56.pickle
positions/pos_57.pickle
positions/pos_58.pickle
positions/pos_59.pickle
positions/pos_60.pickle
positions/pos_61.pickle
positions/pos_62.pickle
positions/pos_63.pickle
positions/pos_64.pickle
positions/pos_65.pickle
positions/pos_66.pickle
positions/pos_67.pickle
positions/pos_68.pickle
positions/pos_69.pickle
positions/pos_70.pickle
positions/pos_71.pickle
positions/pos_72.pickle
positions/pos_73.pickle
positions/pos_74.pickle
positions/pos_75.pickle
positions/pos_76.pickle
positions/pos_77.pickle
positions/pos_78.pickle
positions/pos_79.pickle
positions/pos_80.pickle
positions/pos_81.pickle
positions/pos_82.pickle
positions/pos_83.pickle
positions/pos_84.pickle
positions/pos_85.pickle
positions/pos_86.pickle
positions/pos_87.pickle
positions/pos_88.pickle
positions/pos_89.pickle
positions/pos_90.pickle
positions/pos_91.pickle
positions/pos_92.pickle
positions/pos_93.pickle
positions/pos_94.pickle
positions/pos_95.pickle
positions/pos_96.pickle
positions/pos_97.pickle
positions/pos_98.pickle
positions/pos_99.pickle
positions_old/pos_0.pickle
positions_old/pos_1.pickle
positions_old/pos_2.pickle
animation.mp4
ReportPlots/bfs.svg
ReportPlots/BipartiteRingPlot.png
ReportPlots/NetworkPlot.png
ReportPlots/NetworkRingPlot.png
ReportPlots/Ns_ER_k10.svg
ReportPlots/ransac_result_graph.png
ReportPlots/ransac_result.png
ReportPlots/ransac_result.svg
ReportPlots/rchi_percentages.png
ReportPlots/tree_radial.png
ReportPlots/tree_radial.svg
ReportPlots/tree.png
ReportPlots/tree.svg
animation_high_quality.gif
.gitignore
.gitignore
animation_old_good.mp4
animation_solid_background.gif
.gitignore
NetworkDemoPlots/UniPlot copy 4.py
.gitignore
NetworkDemoPlots/UniPlot copy 2.py
NetworkDemoPlots/UniPlot copy 3.py
animation_transparent_background.gif
